name: Build Compose Desktop App

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Build on ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build app
        run: |
          chmod +x gradlew
          cd source
          ./gradlew packageReleaseDistributionForCurrentOS -Pbuild_version="1.0.3"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: compose-app-${{ matrix.os }}
          path: source/composeApp/build/compose/binaries/main-release/*
